[submodule "luatool"]
	path = luatool
	url = https://github.com/4refr0nt/luatool.git
[submodule "esptool"]
	path = esptool
	url = https://github.com/themadinventor/esptool.git
[submodule "hardware/kicad-ESP8266"]
	path = hardware/kicad-ESP8266
	url = https://github.com/jdunmire/kicad-ESP8266.git
